*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

.text {
  font-family: "Gilroy-Bold",
  sans-serif;
}

body {
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1004px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative
}

.header {
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 100;
  max-height: 88px;
  height: 88px;
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: bold;
  background-color: #ffffff;
  margin-bottom: 40px;
}

.menu ul {
  height: 88px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
  
.menu::after {
  content: "";
  display: block;
  border-bottom: 1px solid #828282;
}
  
a:link {
  text-decoration: none;
  color: #828282;
}
  
a:active {
  color: #070707;
}
  
a:visited {
  color: #828282;
}
  
a:hover {
  color: #070707;
}

.top__heading {
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #070707;
}

.top__content-name {
  font-size: 47.34px;
  font-weight: bold;
}

.lang {
  display: flex;
  align-items: flex-end;
  transform: rotate(-90deg);
  margin-bottom: 0px;
  padding-top: 46px;
  font-weight: bold;
}

.top__img {
  width: 100%;
  padding-bottom: 104px;
}

.top__img-media {
  width: 100%;
  display: none;
}

.top__text {
  font-size: 24px;
  line-height: 28px;
  margin: 0 auto 60px;
  max-width: 470px;
}

.heading__menu {
  display: none;
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 1;
}

.menu__btn {
  padding: 4px 0;
  width: 33px;
  position: relative;
  z-index: 50;
}

.menu__item::before,
.menu__item::after {
  content: " ";
  height: 4px;
  width: 100%;
  background: #000000;
  position: absolute;
  left: 0;
  z-index: 1;
}

.menu__item::after {
  top: -4px;
}

.menu__item::before {
  bottom: -4px;
}

.about {
  background-color: #F6F6F6;
}

.about__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 506px;
  color: #070707;
}

.about__top-content {
  padding-bottom: 17px;
  font-size: 33px;
}

.about__content {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  height: 218px;
  font-size: 18px;
}

.skills__inner {
  min-height: 600px;
}
.skills__top-content {
  font-size: 18px;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.skills__top-content h2 {
  font-size: 33px;
  padding-top: 91px;
  padding-bottom: 69px;
}

.skills__top-content p {
  padding-bottom: 83px;
}

.skills__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 110px;
}

.skills__item-tittle {
  padding-top: 24px;
  padding-bottom: 40px;
  font-size: 14px;
  color: #828282;
} 

.skills__item-stars {
  border-top: 40px;
  padding-bottom: 110px;
  display: flex;
  width: 166px;
}

.skills_item-imgFigma {
  padding-bottom: 17px;
}

.portfolio {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__top-tittle {
  font-size: 22px;
  text-align: center;
  padding: 112px 0 47px 0;
  font-weight: bold;
  color: #070707;
}

.portfolio__img-link {
  width: 100%;
  transition: 1s;
}

.portfolio__img-link:hover {
  transform: scale(1.05);
}

.portfolio__brend {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__tittle-link {
  padding-top: 45px;
  padding-bottom: 99px;
}

.portfolio__tittle-link:link {
  text-decoration: underline;
}

.footer__inner {
  text-align: center;
  padding: 114px 0 86px 0;
}

.footer__top {
  width: 275px;
  height: 195px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__inner h2 {
  font-size: 33px;
}

.footer__title {
  padding-bottom: 25px;
}

.message-btn {
  height: 42px;
  width: 180px;
  text-align:center;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 23px;
  outline: none;
  border: 0px;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.8s;
  background-color: #070707;
}

.message-btn:hover {
  transform: scale(1.2, 1.2);
}

.message-btn a {
  color: white;
}

.footer__inner p {
  color: black;
  font-size: 18px;
}

.footer__bottom {
  max-width: 342px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 86px;
  padding-bottom: 45px;
  margin: 0 auto;
}

.footer__bottom-text p {
  font-size: 14px;
  color: #828282;
  text-align: center;
}

.footer__social-img {
  filter: grayscale(100%);
  transition: filter 0.2s linear;
  }
  
.footer__social-img:hover {
  filter: none;
}

@media (max-width: 650px) {
  .top__img {
    display: none;
  }

  .top__img-media {
    display: block;
    padding-bottom: 83px;
  }

  .skills__item {
    padding-bottom: 82px;
    margin: 0;
  }

  .skills__top-content h2 {
    padding: 83px 0 50px 0;
  }

  .skills__content {
    flex-direction: column;
    margin: 0;
  }

  .skills__item:last-child {
    padding-bottom: 0;
  }
}

.content__media {
  display: none;
}
  
@media (max-width: 450px) {
  .header {
    display: none;
  }

  .lang {
    display: none;
  }
  
  .top__heading {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .top__content-name {
    margin-top: 65px;
    margin-bottom: 23px;
  }
  
  .heading__menu {
    display: block;
    padding-right: 40px;
  }

  .content__br {
    display: none;
  }

  .content__media {
    display: block;
  }

  .footer__inner {
    padding-top: 78px;
  }
}