*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

.container {
  width: 974px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
  
body {
    overflow: auto;
  height: 4000px;
  margin: 0;
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 18px;
}

.container {
    width: 974px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
  }
  
.header {
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 100;
  max-height: 88px;
  height: 88px;
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: bold;
  
  background-color: #ffffff;
}
  
.menu ul {
  height: 88px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
  
.menu::after {
  content: "";
  display: block;
  border-bottom: 1px solid #828282;
}
  
a:link {
  text-decoration: none;
  color: #828282;
}
  
a:active {
  color: #070707;
}
  
a:visited {
  color: #828282;
}
  
a:hover {
  color: #070707;
}


.top__heading {
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #070707;
}

.top__content {
  text-align: center;
  padding-top: 90px;
  width: 50%;
}

.top__content-name {
  padding-top: 40px;
  font-size: 47.34px;
  font-weight: bold;
}

.lang {
  display: flex;
  align-items: flex-end;
  transform: rotate(-90deg);
  margin-bottom: 0px;
  padding-top: 46px;
  font-weight: bold;
}

.top__item-img {
  padding-bottom: 104px;
}

.top__text {
  font-size: 24px;
  line-height: 28px;
  margin: 0 auto 60px;
  max-width: 470px;
}

.top__item {
    padding-bottom: 104px;
}

.about {
  background-color: #F6F6F6;
}

.about__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 506px;
  color: #070707;
}

.about__top-content {
  padding-bottom: 17px;
  font-size: 33px;
}

.about__content {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  height: 218px;
  font-size: 18px;
}

.container {
  width: 974px;
  margin: 0px auto;
  padding: 0px 15px;
}

.skills__top-content {
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.skills__top-content h2 {
  padding-top: 91px;
  padding-bottom: 69px;
}

.skills__top-content p {
  padding-bottom: 83px;
}

.skills__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.skills__item-tittle{
  padding-top: 24px;
  padding-bottom: 40px;
  font-size: 14px;
  color: #828282;
} 

.skills__item-stars{
  border-top: 40px;
  display: flex;
  width: 166px;
}

.skills_item-imgFigma{
  padding-bottom: 17px;
}